form {
	height: 100vh;
	max-width: 28rem;
	margin: 0 auto;
	border: 2px solid red;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error {
	color: red;
}

.valid {
	color: green;
}
