*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#featured {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

.thumbnail {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin: 5px;
	cursor: pointer;
}
