*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#gallery {
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	border: 2px solid green;
}

#featured {
	width: 500px;
	height: 500px;
	object-fit: cover;
	margin-bottom: 2rem;
}

.thumbnail {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin: 5px;
	cursor: pointer;
}
