.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 72rem;
	/* justify-content: space-between; */
	gap: 2rem;
	margin: 2rem auto;
}

li {
	list-style: none;
}

button {
	display: block;
	width: 20rem;
	/* text-align: center; */

	/* border: 2px solid red; */
	margin: 4rem auto;
}
