.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 72rem;
	/* justify-content: space-between; */
	gap: 2rem;
	margin: 2rem auto;
}

.inner-container {
	/* border: 2px solid red; */
}

li {
	list-style: none;
}
