.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

.items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	width: 72rem;
	margin: 2rem auto;
}

li {
	border: 2px solid red;
	list-style: none;
}
