.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 60rem;
	padding-left: 0;
}

.inner-container {
	margin: 2rem 0;
}

li {
	width: 64%;
	margin: 0 auto;
	list-style: none;
}
