.thumbnail {
	width: 100px;
	height: 100px;
	object-fit: cover;
	cursor: pointer;
}

#modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
}

#modal img {
	max-width: 90%;
	max-height: 90%;
}
