#gameArea {
	width: 300px;
	height: 300px;
	border: 2px solid #333;
	position: relative;
	overflow: hidden;
}

#target {
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
}

#score {
	margin-top: 20px;
	font-size: 24px;
}
