*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.container {
	height: 100vh;
	width: 50%;
	max-width: 36rem;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2 {
	font-size: 3.6rem;
	margin: 1.2rem 0;
}

input {
	width: 100%;
	padding: 1.2rem 1.6rem;

	font-size: 2rem;

	margin: 1.2rem 0;

	outline: none;
	border: 1px solid gray;
}

#addTask {
	margin: 1.2rem 0;
	width: 100%;
	padding: 1.6rem 2.4rem;
	cursor: pointer;
	font-size: 1.6rem;
	border: none;
	outline: none;
}

#output {
	/* width: 20rem; */
	height: 20rem;

	margin: 0 auto;
	margin-top: 2rem;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.list {
	list-style: none;
	font-size: 2rem;
	display: block;
	width: 100%;
	margin: 1.2rem auto;
}

.delete {
	margin: 0 3.6rem;
	padding: 1.2rem;
	background-color: red;
	color: white;
	font-size: 1.6rem;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
}

.complete {
	margin: 0 0 0 3.6rem;
	padding: 1.2rem;
	background-color: gray;
	color: white;
	font-size: 1.6rem;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
}

.completed {
	text-decoration: line-through;
	color: gray;
}
