*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border: 2px solid green;
}
