*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

.container {
	height: 100vh;
	width: 50%;
	max-width: 36rem;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border: 2px solid red;
}

h2 {
	font-size: 3.6rem;
	margin: 1.2rem 0;
}

.input {
	width: 100%;
}
