.container {
	height: 100vh;
	width: 50%;
	margin: 0 auto;

	border: 2px solid green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

.hidden {
	color: red;
	font-size: 3.2rem;
	display: none;
}

.dark {
	color: white;
	background-color: black;
}

.light {
	color: black;
	background-color: white;
}
