.container {
	height: 100vh;
	width: 72%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hidden {
	color: red;
	font-size: 3.2rem;
	display: none;
}

.dark {
	color: white;
	background-color: black;
}

.light {
	color: black;
	background-color: white;
}

.container > div {
	max-width: 120rem;
	margin: 0 auto;
}

button {
	width: 10rem;
	margin: 0 1.2rem;
}
